@import '../../style/_main.scss';
@import '../../style/_colors.scss';
@import '../../style/_typography.scss';

.project {
  width: 100%;
  z-index: 5;
  position: relative;
  margin-bottom: 6rem;
}

.project:nth-last-child(1) {
  margin-bottom: 0;
}

.project-image {
  height: 260px;
  position: relative;
  max-width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: $shadow_box_subtle;
  transition: all 0.2s ease;
}

.project-image:hover {
  box-shadow: $shadow_box_heavy;
  transform: translateY(-5%);
}

.title {
  color: $color_text_colored;
  font-weight: $font_weight_bold;
}

.description {
  color: $color_text_default;
  font-size: $font_size_md;
}

.actions {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 2rem;
  bottom: 0;
  left: 0;
}

.main-action {
  width: 100%;
  margin-bottom: 0.5rem;
}

.main-action button {
  width: 100%;
}

.side-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.side-actions a {
  width: 100%;
}

.side-actions button {
  width: 100%;
}

.disabled {
  cursor: not-allowed;
}

.load-warning {
  font-size: $font_size_xs;
  font-weight: $font_weight_medium;
  margin-top: 0.8rem;
  color: $color_text_default;
}

@media (min-width: $site_breakpoint_md) {

  .project-image {
    height: 320px;
  }

  .project {
    width: 31.6%;
    margin-bottom: 0;
  }

  .description {
    min-height: 80px;
  }
}
