@import '../style/_main.scss';
@import '../style/_colors.scss';
@import '../style/_typography.scss';

.project-image {
  width: 100%;
  height: 40vh;
  margin-top: -8rem;
  border-radius: 8px;
  box-shadow: $shadow_box_subtle;
  margin-bottom: 2.4rem;
  transition: all 0.2s ease;
}

.section {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 8rem;
}

.main {
  width: 100%;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $color_white;
  padding: 2.2rem;
  border-radius: 8px;
  margin-bottom: 2.4rem;
  box-shadow: $shadow_box_subtler;
}

.actions > button {
  margin-bottom: 0.5rem;
  width: 100%;
}

.title {
  margin-bottom: 1rem;
}

.content > p {
  margin-bottom: 2.6rem;
}

.content > h2 {
  margin-bottom: 0.4rem;
}

@media (min-width: $site_breakpoint_md) {

  .project-image {
    height: 70vh;
  }

  .section {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: flex-start;
  }

  .actions {
    width: 30%;
    margin-bottom: 0;
  }

  .main {
    width: 65%;
    max-width: 760px;
  }
}
