@import '../../style/_main.scss';
@import '../../style/_colors.scss';
@import '../../style/_typography.scss';

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 700px;
  background: transparent linear-gradient(180deg, $color_indigo_800 0%, $color_indigo_900 100%) 0% 0% no-repeat padding-box;
  text-align: center;
  color: $color_text_contrasted;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background: $color_indigo_900;
  bottom: -20px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  border-bottom-left-radius: 30% 100%;
  border-bottom-right-radius: 30% 100%;
}

.hero-title {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: $font_weight_medium;
  font-size: $font_size_2xl;
  color: $color_text_contrasted;
}

@media(min-width: $site_breakpoint_md) {
  .hero {
    height: 700px;
  }

  .hero-title {
    font-size: $font_size_3xl;
  }
}
