@import '../../style/_main';
@import '../../style/_colors';
@import '../../style/_typography';

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.about-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.avatar {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: $shadow_box_subtle;
}

.about-right {
  width: 100%;
  margin-top: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.description {
  font-size: $font_size_lg;
  margin-bottom: 2rem;
}

@media (min-width: $site_breakpoint_md) {
  .about {
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .about-left {
    width: 32%;
  }

  .about-right {
    width: 60%;
    margin: 0;
  }
}
