@import '../../style/_main.scss';
@import '../../style/_colors.scss';
@import '../../style/_typography.scss';

.header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  left: 0;
  padding: 0 2rem;
  z-index: 10;
  font-weight: $font_weight_bold;
  color: $color_text_contrasted;
}

.header-left,
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-left {
  width: 100%;
  justify-content: space-between;
}

.logo {
  margin-right: 4rem;
  font-size: $font_size_lg;
  color: $color_text_contrasted;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.6rem;
  color: $color_text_colored;
  margin-bottom: 1.2rem;
}

.active-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color_text_default;
  background: $color_button_contrasted;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
}

@media (min-width: $site_breakpoint_sm) {
  .link {
    margin-right: 2rem;
    color: $color_text_contrasted;
    margin-bottom: 0;
  }

  .active-link {
    color: $color_text_colored;
  }

}

@media (min-width: $site_breakpoint_lg) {
  .header {
    padding: 0;
  }
}
