// Colors
$color_white: #FFFFFF;
$color_black: #000000;

$color_indigo_900: #3C366B;
$color_indigo_800: #434190;
$color_indigo_100: #EBF4FF;

$color_gray_900: #1A202C;
$color_gray_800: #2D3748;
$color_gray_700: #4A5568;
$color_gray_500: #A0AEC0;
