// Colors
$color_white: #FFFFFF;
$color_black: #000000;

$color_indigo_900: #3C366B;
$color_indigo_800: #434190;
$color_indigo_100: #EBF4FF;

$color_gray_900: #1A202C;
$color_gray_800: #2D3748;
$color_gray_700: #4A5568;
$color_gray_500: #A0AEC0;

// Background Colors
$color_background_default: $color_indigo_900;
$color_background_contrasted: $color_indigo_100;

// Text Colors
$color_text_default: $color_gray_800;
$color_text_contrasted: $color_indigo_100;

// Icon Colors
$color_icon_default: $color_gray_700;
$color_icon_contrasted: $color_indigo_100;

// Button Colors
$color_button_default: $color_indigo_900;
$color_button_contrasted: $color_white;
$color_button_outlined: $color_gray_500;

$color_button_text_default: $color_indigo_100;
$color_button_text_contrasted: $color_indigo_900;
$color_button_text_outlined: $color_indigo_900;
