$site_width: 1280px;

// Breakpoints
$site_breakpoint_sm: 780px;
$site_breakpoint_md: 1024px;
$site_breakpoint_lg: 1200px;

$shadow_box_subtler: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
$shadow_box_subtle: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
$shadow_box_heavy: 0px 4px 24px 0px rgba(0, 0, 0, 0.55);
