@import './_main.scss';
@import './_colors.scss';
@import './_typography.scss';

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 16px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: $font_height_tall;
  font-family: $font_stack_body;
  letter-spacing: $font_spacing_normal;
  overflow-x: hidden;
  height: 2000px;
  background: $color_background_contrasted;
  transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_stack_header;
  color: $color_text_colored;
  font-weight: $font_weight_medium;
}

h1 {
  font-size: $font_size_3xl;
}

h2 {
  font-size: $font_size_2xl;
}

h3 {
  font-size: $font_size_xl;
}

p {
  font-size: $font_size_lg;
  color: $color_text_default;
}

a {
  text-decoration: none;
  color: $color_text_contrasted;
}

svg {
  height: 22px;
  width: 22px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: $site_breakpoint_lg) {
  html {
    font-size: 18px;
  }
}
